body {
  font-family: Inter, sans-serif;
  padding-top: 100px;
  width: 100%;
}

.blog-section {
  width: 1030px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.posts-section {
  width: 500px;
}

h1 {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: bold;
}

.posts-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}

.posts-input__title {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  font-family: inherit;
  font-size: 32px;
}

.posts-input__text {
  display: block;
  box-sizing: border-box;
  resize: none;
  width: 500px;
  height: 250px;
  font-family: inherit;
  font-size: 32px;
}

.posts-input__new-post-btn {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  background: #0094ff;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: white;
  font-family: inherit;
}

.posts-input__new-post-btn:hover {
  opacity: 0.6;
}

.posts {
  font-size: 32px;
}

.post__title {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
}

.post__text {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 300;
}
