body {
  font-family: Inter, sans-serif;
}

.blog-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.posts-section {
  width: 500px;
}

h1 {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: bold;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}

.input__title {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  font-size: 32px;
}

.input__new-post-btn {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  background: #0094ff;
  border: none;
  font-size: 32px;
  color: white;
  font-family: inherit;
}

.posts {
  font-size: 32px;
}
