body {
  font-family: Inter, sans-serif;
}

button {
  font-family: inherit;
}

.title-wrapper {
  margin-bottom: 60px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

.section-row {
    display: flex;
    gap: 60px;
}

.post-title-input {
  margin-bottom: 30px;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  text-align: start;
}

.post-text-input {
    margin-bottom: 30px;
    display: block;
    box-sizing: border-box;
    width: 500px;
    height: 250px;
}

.new-post-btn {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  background-color: #0094ff;
  color: #ffffff;
  border: none;
  font-size: 32px;
  font-weight: 350;
}
